.textContainer {
  h2,
  div {
    margin: 0 auto;
    max-width: 700px;
  }
  div {
    font-size: 1rem;
  }
}

.formContainer {
  margin-top: 6rem;
  h2,
  form {
    margin: 0 auto;
    max-width: 700px;
  }
  form {
    textarea {
      width: 100%;
      max-width: 700px;
      min-height: 5rem;
    }
  }
}
