.header {
  padding: 1.2rem;
  background-color: white;
  color: $light-black;
  border-bottom: 1px solid $light-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    flex-direction: column;
    // margin-right: 2rem;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 300;
  }
  nav {
    ul {
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      list-style: none;
      li {
        font-weight: 300;
        border-left: 1px solid $light-black;
        &:nth-of-type(1) {
          border-left: none;
        }
        &:nth-of-type(3) {
          a {
            // margin-right: 0;
          }
        }

        a {
          margin: 0 0.6em;
          padding: 0.4em;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          font-size: 1.1em;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-direction: row;
    .logo {
      font-size: 1.6rem;
    }
    nav {
      ul {
        li {
          a {
            padding: 0;
          }
        }
      }
    }
  }
}
