.navGridContainer {
  .navGrid {
    margin: 0 auto;
    padding: 2rem 0;
    display: grid;
    // grid-auto-rows: 350px;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-gap: 1rem;

    a {
      padding: 1rem 1rem 0 1rem;
      display: flex;
      flex-direction: column;
      // border: 1px solid rgb(107, 107, 107);
      border-radius: 5px;

      .captionContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h2 {
          text-transform: uppercase;
          color: $light-black;

          font-weight: 300;
          font-size: 1.1em;
          text-align: center;
          //   padding: 2rem 0 0 0;
        }
      }
    }
  }
}

@media (min-width: 650px) {
  .navGridContainer {
    .navGrid {
      max-width: 65%;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-auto-rows: 350px;
      a {
        transition: all ease-in-out 0.6s;
        padding: 0 2rem;
        &:hover {
          padding: 0rem;
          .captionContainer {
            transition: all ease-in-out 0.6s;
            letter-spacing: 0.1em;
          }
        }
        .captionContainer {
          transition: all ease-in-out 0.6s;
          border-bottom: 1px solid grey;
        }
      }
    }
  }
}

@media (min-width: 850px) {
  .navGridContainer {
    .navGrid {
      //REMOVE THIS for grid to have 2 columns at when wider screen
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
  }
}
